@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


@keyframes shake {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    45% {
        transform: rotate(4deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(2deg);
    }

    85% {
        transform: rotate(-2deg);
    }

    92% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0);
    }
}

.main_grid {
    display: grid;
    margin: 20px;
}

.main_menu {
    padding: 1rem;
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 18rem;
}

.main_page {
    padding: 3rem;
    margin: 10px;
    grid-column-start: 3;
    grid-column-end: 10;
}

.main_heading {
    background-color: black;
}

.page {
    padding: 20px;
}

.main_box {
    padding: 4rem;
}

.vertical-margin {
    margin-top: 6px;
    margin-bottom: 6px;
}

.full_margin {
    margin: 6px;
}

.input {
    display: flex;
}

.select {
    display: inline-block;
}

.lawsuit_data {
    display: inline-flex;
}

.accused_list {
    display: inline-flex;
}

.accused_list_element {
    margin-right: 10px;
}

.half_grid {}

.main_heading {
    height: 15rem;
    background-image: url(../img/court_building.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    text-align: center;
    filter: sepia(60%);
}

.main_title {
    text-shadow: 0 0 12px rgb(255, 255, 255);
    font-size: 500%;
    margin: auto;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

.main_title_username {
    border: 2px solid;
    border-radius: 10px;
    padding: 8px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    text-shadow: 0 0 12px rgb(255, 255, 255);
    font-size: 150%;
    margin: auto;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

.animated_box:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}